/*
  Display unicode symbols with the system font since the Google font does
  not have all characters. Small text tweaks to make symbols more readable
*/
.u-unicode-symbol{
  font-family: sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: none;
}


.u-text-small{
  font-size: 12px;
}

/*
  Reusable class to spread things out consistently
*/
.u-vertical-spacing{
  padding-top: $spacing;
}


/*
  Used in tandom with background images so text is still shown to
  screenreaders
*/
.u-screen-read-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}