// bower:scss
// endbower

/*
  Contents
    Variables............Configuring Sass variables
    Mixins...............Useful mixins
    Reset................Basic normalization and box-sizing
    Utilities............Reusable helpers
    Base.................Base styles of html elements
    Components...........Independent blocks
 */


 /*
  Variables............Configuring Sass variables
*/
@import "settings/variables";


/*
  Mixins...............Useful mixins
*/
@import "settings/mixins";


/*
  Reset................Basic normalization and box-sizing
*/
@import "bower_components/normalize-css/normalize";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content{
  margin: $header-height $gutter $footer-height;
}

/*
  Utilities............Reusable helpers
*/
@import "utilities";

/*
  Base.................Base styles of html elements
*/
@import "base";

/*
  Components...........Independent blocks
*/
@import "components/header";
@import "components/menu";
@import "components/alert";
@import "components/logo";
@import "components/signup-form";
@import "components/footer";