/*
  Typography
*/
$body-font: 'Roboto Condensed', sans-serif;

/*
  Colors
*/
$brand-color:           #93278f;
$error-color:           #ed1C24;
$action-color:          #662d91;
$action-color-alt:      #4d226d;

$white:                 #fafafa;

$background-grey:       #e0e5e8;
$background-grey-light: #eceff1;

$text-color-lightest:   #b0bec5;
$text-color-light:      #78909c;
$text-color:            #626b76;
$text-color-dark:       #455a64;

/*
  Spacing
*/
$nudge: 5px;
$gutter: 25px;
$spacing: 25px;

$header-height: 50px;
$header-spacing: 15px;
$header-gutter: 10px;

$menu-gutter: 20px;
$menu-spacing: 10px;
$menu-item-height: 40px;
$menu-width: 31.25%;
$menu-width-expanded: 68.75%;
$alt-menu-item-height: 45px;

$footer-height: 150px;
$footer-bottom-padding: 30px;

$input-height: 30px;
$input-spacing: 15px;
$input-spacing: 10px;
$input-text-gutter: 80px;
$input-offset: 8px;
$button-width: 100px;

/*
  Images
*/
$flag-width: 41px;
$flag-height: 48px;

$eye-width: 23px;
$eye-height: 16px;